body {font-family: Arial, Helvetica, sans-serif;text-align: center;}
.box {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  box-sizing: border-box;
  border-radius: 30px;
  text-align: center;
}